{% extends 'base.html' %}

{% block content %}
<main>
  <div>
    <h1>My Tasks</h1>
    {% if not show_my_tasks %}
      <p>You have no tasks</p>
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start date</th>
          <th>Due date</th>
          <th>Is completed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for task in show_my_tasks %}
            <td>{{task.name}}</td>
            <td>{{task.start_date|date:"m/j/y"}}</td>
            <td>{{task.due_date|date:"m/j/y"}}</td>
            <td>{{task.is_completed|yesno }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</main>
{% endblock content %}
